body {
    background-color:#675158;
    
} 
    
.container {
    background-color: #E6E2DB;
    inline-size: 20em;
    padding: 2em;
    border: 1px solid black;
    border-radius: 0.5em;
}

h1 {
    color: black;
    
}

#output {
    background-color: E6E2DB;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5em;
}

#settings{
    padding-bottom: 1rem;
}


